<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.glusweat">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!--  一般来说，允许用户自定义头像的app都需要这个权限  -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion = "33"/>
    <!--  如果你想开发音乐播放器之类需要获取音频的app，加上这个权限  -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"
        android:minSdkVersion = "33"/>
    <!--  如果你想开发视频编辑器之类需要获取视频的app，加上这个权限  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"
        android:minSdkVersion = "33"/>
    <!--  向前兼容  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BleService"/>
        <service android:name=".MultipleBleService"/>
    </application>

</manifest>